<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.


READ THIS:
https://stackoverflow.com/questions/16246562/using-msbuild-to-execute-a-file-system-publish-profile

-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>true</ExcludeApp_Data>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\code\gitsvn\PickProWeb\branches\AD-LDS-Integration\</PublishUrl>
	<PublishDir>D:\code\gitsvn\PickProWeb\branches\AD-LDS-Integration\</PublishDir>
	<SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
	<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
	<AutoParameterizationWebConfigConnectionStrings>false</AutoParameterizationWebConfigConnectionStrings>
  </PropertyGroup>
  
  <Target Name="CollectBinFiles" >
    <ItemGroup>
      <!-- path is relative to project root -->
      <_CustomFiles Include="Areas\Consolidation Manager\bin\Consolidation_Manager.*" />
	  <_CustomFiles Include="Areas\FlowRackReplenish\bin\FlowRackReplenish.*" />
	  <_CustomFiles Include="Areas\ICSAdmin\bin\ICSAdmin.*" />
	  <_CustomFiles Include="Areas\Induction\bin\Induction.*" />
	  <_CustomFiles Include="Areas\Markout\bin\Markout.*" />
	  <_CustomFiles Include="Areas\OrderManager\bin\OrderManager.*" />
	  <_CustomFiles Include="Areas\WorkManager\bin\WorkManager.*" />
      <FilesForPackagingFromProject Include="%(_CustomFiles.Identity)">
        <DestinationRelativePath>bin\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  
  <Target Name="CollectAreasViews" >
    <ItemGroup>
      <_AreasViews Include="Areas\**\Views\**\*" />
	  <FilesForPackagingFromProject Include="%(_AreasViews.Identity)">
        <DestinationRelativePath>Areas\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
	</ItemGroup>
  </Target>
  
  <Target Name="CollectAreasWebConfig" >
    <ItemGroup>
      <_AreasWebConfig Include="Areas\**\Web.config" />
	  <FilesForPackagingFromProject Include="%(_AreasWebConfig.Identity)">
        <DestinationRelativePath>Areas\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
	</ItemGroup>
  </Target>
  

  
  <Target Name="CollectAreasFonts" >
    <ItemGroup>
      <_AreasFonts Include="Areas\**\fonts\**\*" />
	  <FilesForPackagingFromProject Include="%(_AreasFonts.Identity)">
        <DestinationRelativePath>Areas\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
	</ItemGroup>
  </Target>
  
  <Target Name="CollectAreasImages" >
    <ItemGroup>
      <_AreasImages Include="Areas\**\Images\**\*" />
	  <FilesForPackagingFromProject Include="%(_AreasImages.Identity)">
        <DestinationRelativePath>Areas\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
	</ItemGroup>
  </Target>
  
  <Target Name="CollectAreasContent" >
    <ItemGroup>
      <_AreasContent Include="Areas\**\Content\**\*" />
	  <FilesForPackagingFromProject Include="%(_AreasContent.Identity)">
        <DestinationRelativePath>Areas\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
	</ItemGroup>
  </Target>
  
  <Target Name="CollectAreasScripts" >
  <ItemGroup>
      <_AreasScripts Include="Areas\**\Scripts\**\*" />
	  <FilesForPackagingFromProject Include="%(_AreasScripts.Identity)">
        <DestinationRelativePath>Areas\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
	</ItemGroup>
  </Target>
  
  <Target Name="CustomCollectFiles" DependsOnTargets="CollectBinFiles;CollectAreasScripts;CollectAreasContent;CollectAreasImages;CollectAreasFonts;CollectAreasViews;CollectAreasWebConfig"/>

  
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>
      CustomCollectFiles;
      $(CopyAllFilesToSingleFolderForPackageDependsOn);
    </CopyAllFilesToSingleFolderForPackageDependsOn>

    <CopyAllFilesToSingleFolderForMsdeployDependsOn>
      CustomCollectFiles;
      $(CopyAllFilesToSingleFolderForMsdeployDependsOn);
    </CopyAllFilesToSingleFolderForMsdeployDependsOn>
  </PropertyGroup>

</Project>

